name: Requests Mod

on:
  workflow_dispatch:
    inputs:
      curseForgeID:
        description: "CurseForge 專案 ID"
        required: true
        default: "306612" #306612 為 Fabric API 的 CurseForge 專案 ID 作為預設值
      gameVersion:
        description: "遊戲版本"
        required: true
        default: "1.17"
      ref:
        description: "執行分支"
        required: true
        default: "Original-1.17"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: "下載模組的語系檔案"
        uses: RPMTW/Translation-Scripts@1.1.1
        with:
          action: "download_mod"
          args: ${{ github.event.inputs.curseForgeID }}
          gameVersion: ${{ github.event.inputs.gameVersion }}

      - name: "推送變更"
        uses: github-actions-x/commit@v2.8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          push-branch: ${{ github.event.inputs.ref }}
          commit-message: "新增請求的語系檔案"
          force-add: true
          files: ./
          name: RPMTW Bot
          email: rpmtw666@gmail.com
          rebase: true
